{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user_first_name" placeholder="First Name" type="text" required="required">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user_last_name" placeholder="Last Name" type="text" required="required">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user_phone" placeholder="Phone Number" type="text" required="required">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user_email" placeholder="E-mail" type="text" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}