{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
     <form action="/sell" method="post">
        <select name="symbol">
            {% for item in symbols %}
                <option value= {{ item["symbol"] }} > {{ item["symbol"] }} </option>
            {% endfor %}
        </select><p></p>
        <input id="shares" name="shares" autocomplete="off" placeholder="Quantity to be sold" type="number"><p></p>
        <button class="btn btn-primary" type="submit" value="Sell">Sell</button>
    </form>
{% endblock %}